<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My GitPub App</title>

<style type="text/css">
    body {
      color: blanchedalmond;
      background-color: #6746b4;
    }
  </style>
</head>
<body>
    <h1>Welcome to gitPub</h1>
    <ul>
        <%for(let i = 0; i < allFood.length; i++) { %>
        <li>
            <a href="/food/<%=i%>"><%=allFood[i].name%></a>
        </li>
        <%}%>
    </ul>
    <footer>
        <a href="/drinks">Back to Drinks Menu</a>
    </footer>
</body>
</html>